nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    text-align: center;
}

.logo img {
    width: 130px;
    height: 70px;
    display: flex;
}